{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "select_team/style.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Team-mate</title>
  </head>
  <body>
    <div class="container">
      <!-- <input type="checkbox" id="flip" /> -->
      <!-- <div class="cover"> -->
      <!-- <div class="front">
          <img src="../img/img-2.png" alt="" />
        </div> -->
      <!-- <div class="back">
          <img class="backImg" src="../img/bg.png" alt="" />
        </div> -->
      <!-- </div> -->
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="logo-container">
              <div class="logo-container-left">
                <img
                  src="{% static "img/mu20-SOO-logo-2.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>

              <div class="logo-container-right">
                <img
                  src="{% static "img/AFS-india-main-logo-1.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>
            </div>
            <div class="title">
              <div class="title-head">
                <h1 style="font-size: 23px">
                  <u>Fill up the form below </u>
                </h1>
              </div>
              <div class="title-desc" style="padding: 1rem">
                <span>
                  Please select your teammates for this challenge. Ensure that
                  only one member from your team completes this task
                </span>
              </div>
              <div class="title-mate">
                <span for="leader">Team Leader : {{stud}}</span>
              </div>
            </div>

            <form method="POST" required>
              {% csrf_token %}
              <div class="preference-container">
                <div class="chal1_container">
                  <div class="chal1">
                    <!-- <h3 class="head">Teammate 1</h3> -->
                    <div class="pref">
                      <div class="opt">
                        <label for="committee">Teammate 1: </label>
                        {{form.student1}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="chal1_container">
                  <div class="chal1">
                    <!-- <h3 class="head">Teammate 1</h3> -->

                    <div class="pref">
                      <div class="opt">
                        <label for="portfolio">Teammate 2: </label>
                        {{form.student2}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% if form.student3 and form.student4 %}
              <div class="preference-container">
                <div class="chal1_container">
                  <div class="chal1">
                    <div class="pref">
                      <div class="opt">
                        <label for="committee">Teammate 3: </label>
                        {{form.student3}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="chal1_container">
                  <div class="chal1">
                    <div class="pref">
                      <div class="opt">
                        <label for="portfolio">Teammate 4: </label>
                        {{form.student4}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- <div class="button input-box">
                <input type="submit" value="Continue >" />
              </div> -->
              {% if messages %}
                  {% for message in messages %}
                      <span style="
                        align-content:center;
                        color: red;
                      ">{{message}} !!</span>
                  {% endfor %}
                {% endif %}
              <div class="flex-btn">
                <div class="btn-submit">
                  <button>Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
