{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static "select_committee/style.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Committee</title>
  </head>
  <body>
    <div class="container">
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="logo-container">
              <div class="logo-container-left">
                <img
                  src="{% static "img/mu20-SOO-logo-2.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>

              <div class="logo-container-right">
                <img
                  src="{% static "img/AFS-india-main-logo-1.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>
            </div>
            <div class="title">
              <div class="title-head">
                <h1 style="font-size: 23px">
                  <u>Fill up the form below </u>
                </h1>
              </div>
              <div class="title-desc">
                <span >
                  MUN/IC
Select your committee preferences and portfolio preferences. (Please note, the allotment will be on the basis of experience and availability)
                </span>
              </div>
            </div>

            <form>
              <div class="preference-container">
                <div class="chal1_container">
                  <div class="chal1">
                    <h3 class="head">Preference 1</h3>
                    <div class="pref">
                      <div class="opt">
                        <label for="committee">Select Committee: </label>
                        <select name="committee" id="committee">
                          <option value="lok sabha">lok sabha</option>
                          <option value="rajya sabha">rajya sabha</option>
                          <option value="parliament">parliament</option>
                        </select>
                      </div>
                      <div class="opt">
                        <label for="portfolio">Select Portfolio: </label>
                        <select name="portfolio" id="portfolio">
                          <option value="narendra modi">narendra modi</option>
                          <option value="amit shah">amit shah</option>
                          <option value="bhim rao">bhim rao</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="chal1_container">
                  <div class="chal1">
                    <h3 class="head">Preference 2</h3>
                    <div class="pref">
                      <div class="opt">
                        <label for="committee">Select Committee: </label>
                        <select name="committee" id="committee">
                          <option value="lok sabha">lok sabhaaaaaaaaaaaaaaaaaaaaaa</option>
                          <option value="rajya sabha">rajya sabha</option>
                          <option value="parliament">parliament</option>
                        </select>
                      </div>
                      <div class="opt">
                        <label for="portfolio">Select Portfolio: </label>
                        <select name="portfolio" id="portfolio">
                          <option value="narendra modi">narendra modiiiiiiiiiiiiiiii</option>
                          <option value="amit shah">amit shah</option>
                          <option value="bhim rao">bhim rao</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="feedback_container">
                <h3 for="feedback" style="font-weight: 300px"></h3>
                Please detail your past Model UN experience for the allocation process.
                </h3>
                <br />
                <textarea id="feedback" name="feedback" >
                </textarea>
                <br />
              </div>
              
              <div class="flex-btn">
                <div class="btn-submit">
                  <button>Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
