{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static "chall_desc/style.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Description</title>
  </head>
  <body>
    <div class="container">
      <!-- <input type="checkbox" id="flip" /> -->
      <!-- <div class="cover"> -->
      <!-- <div class="front">
          <img src="../img/img-2.png" alt="" />
        </div> -->
      <!-- <div class="back">
          <img class="backImg" src="../img/bg.png" alt="" />
        </div> -->
      <!-- </div> -->
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="logo-container">
              <div class="logo-container-left">
                <img
                  src="{% static "/img/mu20-SOO-logo-2.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>

              <div class="logo-container-right">
                <img
                  src="{% static "/img/AFS-india-main-logo-1.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>
            </div>
            <div class="title">
              <div class="title-head">
                <h1 style="font-size: 23px">
                  <u>Challenge Description </u>
                </h1>
              </div>
              <div class="title-desc">
                <span style="font-size: xx-small">
                  Select one of the Challenges you want to participate in
                </span>
              </div>
            </div>

            <form method="POST" required>
              {% csrf_token %}
              <div class="chal1_container">
                {% for choice_value, choice_label in form.challenge.field.choices %}
                  {% for ch in chls%}
                    {% if ch.id == choice_value %}
                      <div class="chal1">
                  {% comment %} for loop here {% endcomment %}
                  
                        <label for="chal1">
                          <div>
                            <h3 class="head">{{choice_label}}</h3>
                            <span class="desc">
                              {{ch.short_description}}
                            </span>
                          </div>
                        </label>
                        <div class="checkbox-input">
                          <input
                            type="radio"
                            name="{{ form.challenge.name }}"
                            value="{{ choice_value }}"
                            id="id_{{ form.challenge.id_for_label }}_{{ choice_value }}"
                            {% if form.challenge.value == choice_value %} checked {% endif %}
                          />
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                  <hr />
                {% endfor %}
              <div class="flex-btn">
                <div class="btn-submit">
                  <button>Continue</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
