{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static "chall_alloted/style.css" %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge Alloted</title>
  </head>
  <body>
    <div class="container">
      <!-- <input type="checkbox" id="flip" /> -->
      <!-- <div class="cover"> -->
      <!-- <div class="front">
          <img src="../img/img-2.png" alt="" />
        </div> -->
      <!-- <div class="back">
          <img class="backImg" src="../img/bg.png" alt="" />
        </div> -->
      <!-- </div> -->
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="logo-container">
              <div class="logo-container-left">
                <img
                  src="{% static "img/mu20-SOO-logo-2.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>

              <div class="logo-container-right">
                <img
                  src="{% static "img/AFS-india-main-logo-1.png" %}"
                  alt="MU20-Black-logo-1"
                  class="login-logo"
                />
              </div>
            </div>
            <div class="title">
              <div class="title-head">
                <h1 style="font-size: 23px">
                  <u>IMPACT CHALLENGE</u>
                </h1>
              </div>
              <div class="title-desc">
                <span style="font-size: large"> You have been Alloted ! </span>
              </div>
            </div>

            <div class="committee-stakeholder-container">
              <div class="committee-stakeholder">
                <label for="committee">Your Committee</label>
                <h3>{{committee}}</h3>
              </div>
              <div
                class="vl"
                style="
                  border-left: 6px solid #d9d9d9;
                  height: auto;

                  top: 0;
                "
              ></div>
              <div class="committee-stakeholder">
                <label for="stakeholder">Your Stakeholder</label>
                <h3>{{portfolio}}</h3>
              </div>
            </div>

            <div class="whatsapp-btn">
              <button
                onclick="window.location.href = 'https://wa.me/+919424536621';"
              >
                <i class="fa fa-whatsapp"></i>
                Kindly reach out to us on WhatsApp for any queries.
              </button>
            </div>

            <div class="note">
              <h4>
                Note : The Background Guides for committee will be released in
                the month of <u style="color: red">October</u>
              </h4>
            </div>

            <div class="btn-submit">
              <button
                onclick="window.location.href = 'https://mu20.co/mu20-summit/';"
              >
                MU20 Summit website
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
