{% load static %}

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/base_body.css' %}" />
    <link rel="stylesheet" href="{% static 'css/image.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>
  <body>
    <div style="position: absolute; right: 0; bottom: 0">
      <img
        src="https://i.ibb.co/pzbFBmV/Frame.png"
        alt="Frame"
        border="0"
        style="filter: grayscale(89%)"
      />
    </div>
    
    <div class="container-parent-class">

      <div class="test-class">

        <div class="container-child-class">

          <div class = "heading-class">
            {% block heading %} {% endblock %}
          </div>

          <hr style="width:15%;border:1.5px solid black">

          <div class="desc-class">
            {% block desc %} {% endblock %}
          </div>
        
          <div class="content-class">
            {% block content %} {% endblock %}
          </div>
    
      <img
        src="https://i.ibb.co/310Bt1M/MU20-Black-logo-1.png"
        alt="MU20-Black-logo-1"
        border="0"
        class = "logo-class"
      />
      
      <div>
        <a href="https://ibb.co/8mxc8WW"
          ><img
            src="https://i.ibb.co/K5swyMM/Group-44.png"
            alt="Group-44"
            class="img-class-one"
        /></a>
      </div>
      
      <a href="https://ibb.co/pPDgqC2"
        ><img
          src="https://i.ibb.co/rtPg9nk/Group-42.png"
          alt="Group-42"
          class="img-class-two"
      /></a>
      
      <a href="https://ibb.co/2KKSHWr"
        ><img
          src="https://i.ibb.co/nkkBt6y/Group-38.png"
          alt="Group-38"
          class="img-class-three"
      /></a>
    </div>
  </body>
</html>

