{% extends 'base.html' %}
this is the home page

{% block content %}
<style>
    /* Define the custom-dropdown class */
    #id_challenge {
      /* Set the height to make the dropdown bigger */
      height: 30px;
      width: 100%;
      border-radius: 5px;
      margin-top: 20px;
      text-align: center;
      /* Add the desired background color (grey) */
      background-color: #f0f0f0;
      /* Add any other styles you want, such as font size, font color, etc. */
    }
  </style>

<form method="POST">
    {% csrf_token %}
    
    {% for choice_value, choice_label in form.challenge.field.choices %}
      {% for ch in chls%}
    <label>
      {% if ch.id == choice_value %}
      <input type="radio" name="{{ form.challenge.name }}" value="{{ choice_value }}" id="id_{{ form.challenge.id_for_label }}_{{ choice_value }}" {% if form.challenge.value == choice_value %}checked{% endif %}>
        <p style="font-size: 20px;">{{choice_label}}</p>
        <p style="font-size: 14px">{{ch.short_description}}</p>
      {% endif %}
        <!-- {{ form.challenge.choice.value }}
        {{ choice.1.name }}
        {{ form.challenge.choice }} -->
    </label>
    {% endfor %}
{% endfor %}


    <!-- Display the short description -->

    {% include 'button.html' %}
</form>
{% endblock %}


Click here to check <a href="{% url 'addon' %}">Add Ons</a>
