
{% extends 'base.html' %}

{%block heading%} Fill The Form {% endblock %}

{% block desc %} 
Select You top Three preferences for<br> Committees and their respective Portfolios

{% endblock %}

{% block content %}

<style>
  /* Define the custom-dropdown class */
  #id_committee {
    /* Set the height to make the dropdown bigger */
    height: 20px;
    width: 80%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    /* Add the desired background color (grey) */
    background-color: #f0f0f0;
    /* Add any other styles you want, such as font size, font color, etc. */
  }

  #id_portfolio {
    /* Set the height to make the dropdown bigger */
    height: 20px;
    width: 80%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    /* Add the desired background color (grey) */
    background-color: #f0f0f0;
    /* Add any other styles you want, such as font size, font color, etc. */
  }

  #id_text {
    width: 80%;
    height:100px; /* Full width of div */ /* Center text */
    padding: 0px; /* Add padding for spacing */
    border: none;
    border-radius: 4px; /* Remove border for cleaner appearance */
    background-color: lightgray; /* Inherit background color from parent */
}
</style>


<form method="POST">
        <!-- <div
          style="
            height: 2px;
            width: 89px;
            background-color: #231f20;
            margin-bottom: 32px;
          "
        ></div>
        <label
          for="name"
          style="
            color: #322a2c;
            font-size: 20px;
            font-weight: 600;
            line-height: 18px;
            align-self: flex-start;
          "
          >Name</label
        >
        <input
          type="text"
          name="name"
          id="name"
          style="
            border: none;
            border-bottom: 1px solid #000000;
            margin-top: 12px;
            color: #322a2c;
            font-size: 20px;
            font-weight: 400;
            line-height: 18px;
            outline: none;
            align-self: flex-start;
            width: 100%;
            background-color: transparent;
          "
        />
        <label
          for="contact"
          style="
            color: #322a2c;
            font-size: 20px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 12px;
            margin-top: 48px;
            align-self: flex-start;
          "
          >Contact</label
        >
        <input
          type="text"
          name="contact"
          id="contact"
          style="
            border: none;
            border-bottom: 1px solid #000000;
            color: #322a2c;
            font-size: 20px;
            font-weight: 400;
            line-height: 18px;
            outline: none;
            align-self: flex-start;
            width: 100%;
            background-color: transparent;
          "
        />
        <label
          for="email"
          style="
            color: #322a2c;
            font-size: 20px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 12px;
            margin-top: 48px;
            align-self: flex-start;
          "
          >Email</label
        >
        <input
          type="email"
          name="email"
          id="email"
          style="
            border: none;
            border-bottom: 1px solid #000000;
            color: #322a2c;
            font-size: 20px;
            font-weight: 400;
            line-height: 18px;
            outline: none;
            align-self: flex-start;
            width: 100%;
            background-color: transparent;
          "
        />
        <label
          for="additional"
          style="
            color: #322a2c;
            font-size: 20px;
            font-weight: 600;
            line-height: 18px;
            margin-bottom: 12px;
            margin-top: 48px;
            align-self: flex-start;
          "
          >Additional</label
        >
        <input
          type="text"
          name="additional"
          id="additional"
          style="
            border: none;
            border-bottom: 1px solid #000000;
            margin-top: 12px;
            color: #322a2c;
            font-size: 20px;
            font-weight: 400;
            line-height: 18px;
            outline: none;
            align-self: flex-start;
            width: 100%;
            background-color: transparent;
          "
          /> -->
    <style> 
      #id_comitee_seleted{
        padding : 10px;
        background-color: #ccc;
        width : 200px;
      }

    </style>
    {% csrf_token %}
    {% for i in iterations %}
      <p style="font-size:20px; margin-top:20px;">Select Committee {{form.committee}}<br> Select Portfolio {{form.portfolio}}</p><br>
    {% endfor %}
    {% if info %}
      {{info.text}}
    {% endif %}

    {% include 'button.html' %}

</form>

{% endblock %}
