
{% extends 'base.html' %}
{% load static %}

{%block heading%} Fill The Form {% endblock %}

{% block desc %} 
Select You top Three preferences for<br> Committees and their respective Portfolios

{% endblock %}

{% block content %}


<form method="POST" required>
    {% csrf_token %}
    {% for i in iterations %}
      <p style="font-size:20px; margin-top:20px;text-align:left;">Select Committee {{form.committee}}<br> Select Portfolio <br>{{form.portfolio}}</p><br>
    {% endfor %}
    {% if info %}
      {{info.text}}
    {% endif %}

    {% include 'button.html' %}

</form>

{% endblock %}
