
{% extends 'base.html' %}
{% load static %}

{%block heading%} Fill The Form {% endblock %}

{% block desc %} 
Select you committee preferences and portfolio preferences.<br>(Please note, the allotment will be on the basis of experience and availability)

{% endblock %}

{% block content %}


<form method="POST" required>
    {% csrf_token %}
    {% for i in iterations %}
      <p style="font-size:20px; margin-top:20px;text-align:center;">Select Committee {{form.committee}}<br> Select Portfolio <br>{{form.portfolio}}</p><br>
    {% endfor %}
  
    <p style="margin-bottom:10px; font-style:italic;">Please detail your Model UN experience for the allocation process.</p>
    {{form.text}}

    {% include 'button.html' %}

</form>


{% endblock %}
