{% extends 'base.html' %}
{% load static %}
{% block heading%}
{{cname}}
{% endblock %}


{%block content %} 
    <!-- <style>
        h1{
            margin-top: 30px;
            margin-left: 15%;
            font-family: Arial;
            margin-bottom: 20px;
        }

        h3{
            margin-top:40px;
            margin-left: 10%;
        }

        h4{
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 12%;
            text-align: center;
        }
    </style> -->

    {% if members %}

    <div style="display: flex; flex-direction:column;">
        <div class="something">
            <img src="{% static 'verified_account.png' %}" 
            class="tick-ec">
        </div>

        <div>
            <h1 class="heading-css">Thank You for Registering for <i>{{cname}}</i></h1>
            <h3 style="text-align: center; margin-right:10%;">Your Teammates are -</h3>
        </div>
    </div>
    
    
    
    {% for member in members %}
        {%if member != user %}
        <h3 class="members-css">{{member}}</h3>
        {% endif %}

    {% endfor %}
    {% else%}
    {% load static %}
        {% if status %}
            <img src="{% static 'confetti.png'%}" class="confetti">
            <h1 class="you-have-been-alloted">You have Been Allotted !</h1>
             
            <div class="container">
                <div style="">
                  <h3 class="por-comm-text">Your Committee</h3>
                  <h1 class="por-comm">{{status.committee}}</h1>
                  <!-- <span style="position: absolute; height: 100%; width: 10px; background-color: #f0f0f0; left: 240;"></span> -->
                </div>
                <!-- <div style="height: 8em; background-color: grey; width: 0.2em; border-radius: 2em"></div> -->
                <div>
                    <h3 class="por-comm-text">Your Portfolio</h3>
                  <h1 class="por-comm">{{status.portfolio}}</h1>
                </div>
              </div>

            
        {% else %}
        <img src="{% static 'verified_account.png' %}" 
            class="sit-back-image">
        
        <h1 class="sit-back">Sit Back, Relax & Be Prepared !</h1>

        <h3 class="other-text">You Have Been Registered, Thank You for your patience, you will receive your allotment soon.</h3>
        {% endif %}

    {% endif %}

    <i><p style="font-size: 12px; margin-top:28px; margin-left:10%">* All the material will be<br> available to you in the month of October</p></i>

    <!-- {'user': 'naman', 'cname': 'Theatrics Challenge', 'members': ['naman', 'Test Name 1', 'Test Name 8', 'Test Name 4', 'Test Name 3'], 'status': None} -->


{% endblock %}