{% extends 'base.html'%}


{% block heading %} 
{% load static %}
<div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1vh; /* Set the desired height of the div */
        margin-bottom:80px;
        ">
        <img src="{% static 'verified_account.png' %}" style="max-width: 150px; max-height: 150px; width: auto; height: auto;">
</div>

CONGRATULATIONS !
{% endblock %}
{% block content %}

<h3 style="text-align : center; margin-top: 20px; margin-left:0px; margin-right:14px; font-size:32px;">You have successfully registered for the MU20 High School Summit.<br><br></h3>

<b class = "success-text">If you have registered for Model UN or Impact Challenge, your allotments will be visible here within 7 days. For the other challenges, further details and resources will be available at the portal from October.</b>

<div style="display:flex; flex-direction:row; margin-left:3%;">
    <div style="margin-top:3%; align-items: flex-end;">
        <button style="
            display: none;
            position:absolute;
            left: 5%;
            bottom: 17%;
            border-radius:100px;
            background-color:#FFFFFF;
            height: 45px;
            width: 45px;
            margin-bottom: 0%;
            margin-left:0%;
            ">
            <img src="{% static 'Whatsapp.png' %}" style="max-width: 20px; max-height: 20px; width: auto; height: auto;">
        </button>
    </div>
    <div>
        <a href="https://wa.me/+919424536621" style="text-decoration:none;">
            <button class="whatsapp" type="submit">
                Kindly Reach out to us on Whatsapp for any queries
            </button>
        </a>
    </div>
</div>

<a href="https://mu20.co/mu20-summit/">
<button
        style="
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #231f20;
        margin-top: 0px;
        margin-left:34%;
        border: none;
        border-radius:4px;
        color: white;
        height: 38px;
        width: 190px;
        align-self: center;
        font-size: 16px;
        line-height: 14px;
        cursor: pointer;
        "

        type="submit"
    >
        MU20 Summit
    </button>
</a>

{% endblock %}

