{% extends 'base.html'%}


{% block heading %} 
{% load static %}

CONGRATULATIONS 
{% endblock %}
{% block content %}

<div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1vh; /* Set the desired height of the div */
        margin-top:100px
        ">
        <img src="{% static 'verified_account.png' %}" style="max-width: 150px; max-height: 150px; width: auto; height: auto;">
</div>



<h3 style="text-align : center; margin-top: 100px; margin-left:20px">Well Done, You Have Successfully Registered to Our Program.</h3>

<a href="{% url 'login' %}">
<button
        style="
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #231f20;
        margin-top: 70px;
        border: none;
        color: white;
        height: 38px;
        width: 190px;
        align-self: center;
        font-size: 16px;
        line-height: 14px;
        cursor: pointer;
        "

        type="submit"
    >
        Go Back
    </button>
</a>

{% endblock %}

