{% extends 'base.html' %}
{% load static %}
{%block heading%} Fill The Form {% endblock %}

{% block desc %} 
Select Your Team Mates for this Challenge

{% endblock %}

{% block content %}

{% if messages %}
<br>
<br>
        {% for message in messages %}
            <span class="form-error">{{message}} !!</span>
        {% endfor %}
{% endif %}
<form method="POST" required>
    <br>
    <br>
    <br>
    {% csrf_token %}
    <p class="teammate">Select Team Mate</p>
    {{form.student1}}
    <br>
    
    <br>
    <p class="teammate">Select Team Mate</p>
    {{form.student2}}
    <br>
    
    
    <br>
    {% if form.student3 %}
    <p class="teammate">Select Team Mate</p>
    {{form.student3}}
    <br>
    {% endif %}

    <br>
    {% if form.student4 %}
    <p class="teammate">Select Team Mate</p>
    {{form.student4}}
    <br>
    {% endif %}
    <br><br>
    {% include 'button.html' %}
</form>
{% endblock %}
