{% extends 'base.html' %}
{% load static %}
{%block heading%} Fill The Form {% endblock %}

{% block desc %} 
Select Your Team Mates for this Challenge

{% endblock %}

{% block content %}
<style>


    
</style>
<form method="POST" required>
    <br>
    <br>
    <br>
    {% csrf_token %}
    <p class="teammate">Select Team Mate</p>
    {{form.student1}}
    <br>
    
    <br>
    <p class="teammate">Select Team Mate</p>
    {{form.student2}}
    <br>
    
    
    <br>
    {% if form.student3 %}
    <p class="teammate">Select Team Mate</p>
    {{form.student3}}
    <br>
    {% endif %}

    <br>
    {% if form.student4 %}
    <p class="teammate">Select Team Mate</p>
    {{form.student4}}
    <br>
    {% endif %}
    <br><br>
    {% if messages %}
        {% for message in messages %}
            <span style="color: red;">{{message}} !!</span>
        {% endfor %}
    {% endif %}
    {% include 'button.html' %}
</form>
{% endblock %}
