.button{
    margin-left:4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231f20;
    margin-top: 70px;
    border: none;
    color: white;
    border-radius: 2px;
    height: 38px;
    width: 190px;
    align-self: center;
    font-size: 16px;
    line-height: 14px;
    cursor: pointer;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231f20;
    margin-top: 36px;
    border: none;
    color: white;
    height: 38px;
    width: 180px;
    align-self: center;
    font-size: 16px;
    line-height: 14px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .button{
        margin-top: 1%;
        margin-left:15%;
        height: 30px;
        width: 120px;
        border-radius: 2px;
    }

    .login-button{
        width: 120px;
        height: 30px;
        margin-top: 40px;
        margin-left: 33%;
        border-radius: 6px;
    }
}

