.logo-class{
    width: 142px;
    height: 142px;
    margin-left: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.img-class-one{
    position: fixed;
    bottom: 16;
    left: 48;
    height: 540px;
    width: 256px;
    pointer-events: none;
}

.img-class-two{
    position: fixed;
    bottom: 16;
    right: 64;
    height: 94px;
    width: 306px;
    pointer-events: none;
}

.img-class-three{
    position: fixed;
    top: 16;
    right: 64;
    height: 300px;
    width: 270px;
    pointer-events: none;
}

.success-text{
    text-align: center;
}

.whatsapp { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14A56C;
    margin-top: 5%;
    margin-left:8%;
    margin-bottom: 5%;
    height: 38px;
    width: 130%;
    border-radius: 20px;
    color:white;
    font-size: 105%;
}

@media screen and (max-width: 600px){
    .logo-class{
        width:71px;
        height: 71px;
        margin-left:30px;
    }

    .success-text{
        font-size: 16px;
    }

    .whatsapp{
        margin-top: 8%;
        margin-bottom: 8%;
        margin-left:0;
        height: 50px;
        width: 100%;
        font-size: small;
        padding-left: 2px;
        padding-right: 2px;
    }

    .img-class-one{
        display: none;
        height: 270px;
        width:128px;
        left:4;
    }

    .img-class-two{
        display: none;
        height: 47px;
        width: 153px;
        right: 8;
    }

    .img-class-three{
        height: 120px;
        width: 100px;
        right: 5;
        top: 5;
    }
}