h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}
body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.login-img{
    filter: grayscale(89%)
}

.bottom-img-txt-css{
    color: white;
    font-style: italic;
    padding-bottom: 16px;
    background-color: #341a65;
    width: 461px;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 0px 48px;
}

.main-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 1;
    border-radius: 44px;
    height: 100%;
    margin-right:15px;
}

.laptop-class{
    height: 461px; 
    position: absolute; 
    z-index: 2; 
    bottom: 20%
}

.login-logo{
    width: 142px; 
    height: 142px; 
    margin-left: 60px
}

.login-div-parent-1{
    padding: 0px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header{
    padding: -1px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: math;
}

.input-div{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 420px;
}

.username-input{
    color: #322a2c;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 12px;
}

.password-input{
    color: #322a2c;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 12px;
    margin-top: 48px;
}

.input{
    border: none;
    border-bottom: 1px solid #000000;
    margin-top: 12px;
    color: #322a2c;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    outline: none;
}

@media screen and (max-width: 900px){
    .laptop-class{
        max-width: 50px;
        max-height: 50px;
    }
}

@media screen and (max-width: 600px){
    .laptop-class{
        max-width: 150px;
        max-height: 150px;
        bottom: 5%;
    }

    .login-img{
        display: none;
    }

    .login-logo{
        width: 100px;
        height: 100px;
        margin-left: 10px
    }

    .login-div-parent-1{
        padding: 18px 18px;
    }

    .login-div-parent-2{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        background-image: url('https://i.ibb.co/YhRsHVb/Mask-group.png');
        background-position: center;
    }

    .main-container{
        flex-direction: column;
    }

    .login-header{
        color: #231f20;
        font-size: 20px;
        font-weight: 600;
        line-height:20px;
        margin-bottom: 8px;
        margin-right: 13%;
    }

    .login-line{
        width: 90px;
        height: 2px;
        background-color: #231f20;
        align-self: center;
        margin-right: 13%;
    }

    .input-div{
        font-family: 'Montserrat', sans-serif;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        width: 420px;
    }

    .username-input{
        font-family: 'Montserrat', sans-serif;
        color: #322a2c;
        font-size: 16;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 14px;
        margin-left: 18%;
    }

    .password-input{
        font-family: 'Montserrat', sans-serif;
        color: #322a2c;
        font-size: 16;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 12px;
        margin-top: 48px;
        margin-left: 18%;
    }

    .bottom-img-txt-css{
        font-size: 13px;
    }

    .input{
        width: 40%;
    }
}