.sit-back{
    margin-top: 15px;
    margin-bottom: 20px;
    font-family:math;
    font-size:40px;
    text-align: center;
}

.other-text{
    margin-top: 24px;
    font-size: 24px;
    text-align: center;
}

.sit-back-image{
    align-content: center;
    margin-left: 40%; 
    margin-top:10px; 
    max-width: 150px; 
    max-height: 150px; 
    width: auto; 
    height: auto;
}

@media screen and (max-width: 600px) {
    .sit-back{
        font-size:27px;
    }

    .other-text{
        font-size: 16px;
    }

    .sit-back-image{
        max-width: 100px;
        max-height: 100px;
        margin-left: 32%;
    }
}

@media screen and (max-width: 400px) {
    .sit-back-image{
        max-width: 100px;
        max-height: 100px;
        margin-left: 20%;
    }
}