.heading-css{
    margin-top: 30px;
    margin-left: 9%;
    padding-right: 20px;
    font-family: math;
    margin-bottom: 20px;
}

.members-css{
    text-align: center; 
    margin-right:10%; 
    margin-top:10px;
    font-family: Apple Chancery, cursive;
}

.tick-ec{
    align-content: center;
    justify-content: center;
    max-width: 150px; 
    max-height: 150px; 
    width: auto; 
    height: auto;
}

.something{
    margin-left:40%;
}

@media screen and (max-width:600px) {
    .heading-css{
        font-family: math;
        font-size: 24px;
    }

    .members-css{
        font-size: 22px;
        margin-right: 22%;
    }

    .tick-ec{
        margin-right: 250px;
    }

    .something{
        margin-left:30%;
    }
}